# Eclipse Metadata (ignore everything under .metadata except .settings)
.metadata/*
!.metadata/.settings/

# Ignore all .settings except Maven settings
.metadata/.plugins/*
!.metadata/.settings/org.eclipse.m2e.core.prefs

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Ignore .lock files
*.lock

# Ignore version files
version.ini

# Ignore segments files
segments_*

# Ignore write.lock files
write.lock

#Ignore location files
.location

# Ignore tree files
*.tree

*.lst

*.txt

*.dumpstream

# Ignore history version files
history.version

# Ignore properties index files
properties.index

#Ignore properties version
properties.version

# Ignore workspaceState files
workspaceState.ser

#Ignore settings workspace
workspace.setup

#Maven wrapper
maven-wrapper.properties

#ecommerce.uml
ecommerce.uml
target/surefire-reports/TEST-br.ufjf.dcc.dcc025.dcc025_ecommerce.dominio.AlimentoTest.xml
target/surefire-reports/TEST-br.ufjf.dcc.dcc025.dcc025_ecommerce.dominio.AlimentoTest.xml
